{% block sw_cms_block_cbax_lexicon_navigation %}
    <div class="sw-cms-block-navigation">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_navigation_slot_navigation_content %}{% endblock %}</slot>
    </div>
{% endblock %}
