{% block sw_cms_block_aku_cms_factory %}
    <div class="sw-cms-block-aku-cms-factory">
        <slot name="content">{% block sw_cms_block_aku_cms_factory_left %}{% endblock %}</slot>
    </div>
{% endblock %}