{% block sw_cms_element_cbax_lexicon_letter_entries_preview %}
    <div class="sw-cms-el-preview-lexicon-listing">
        <div class="lexicon-entries-letter">L ...</div>
        <div class="lexicon-entry-box">
            <h4>Lorem</h4>
            <p>Lorem dolor...</p>
        </div>

        <div class="sw-cms-preview-cbax-badge">
            <img alt="" :src="assetFilter('/cbaxmodullexicon/static/img/cms/shopping-world-badge.svg')">
        </div>
    </div>
{% endblock %}
