{% block sw_cms_preview_aku_cms_factory %}
<div class="sw-cms-preview-aku-cms-factory">
    <div class="upperpart">
        <div class="leftpart"></div>
        <div class="rightpart">
            <div class="multigrid ">
            </div>
            <div class="multigrid">
            </div>
            <div class="multigrid">
            </div>
        </div>
    </div>
    <div class="lowerpart"></div>
</div>
{% endblock %}