/.idea
/vendor/

###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###

###> database dumps ###
*.sql
*.sql.gz
*.sql.bz2
*_backup.sql
*_dump.sql
auwatec_*.sql
auwatec_sw6prod_2026-01-19_09-34-35.sql
###< database dumps ###

###> local development ###
php.ini
.env.local.php
###< local development ###
