{% block sw_cms_block_cbax_lexicon_sidebar %}
    <div class="sw-cms-block-sidebar">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_sidebar_slot_sidebar_content %}{% endblock %}</slot>
    </div>
{% endblock %}
