{% block aku_cms_factory_element_sample %}
    <div class="aku_cms_factory_element_sample">
    <sw-code-editor :value="code" 
        :readOnly="true"
        :completerFunction="null" completionMode="text" mode="twig" :softWraps="true" :setFocus="false" :disabled="false">
    </sw-code-editor>
    </div>

{% endblock %}