{% block sw_cms_product_stream_preview_aku_cms_factory %}
    <div class="sw_cms_product_stream_preview_aku_cms_factory">
        <span v-if="product_stream">{{product_stream.translated.name}}</span>
    </div>
{% endblock %}