{% sw_extends '@Storefront/storefront/page/account/profile/index.html.twig' %}

{% block page_account_profile_credentials_container %}
    <div class="gray-box">
        {{ parent() }}
    </div>
{% endblock %}