{% block sw_cms_block_cbax_lexicon_entry_preview %}
    <div class="sw-cms-preview-lexicon-products">
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
        <div class="sw-cms-preview-cbax-badge">
            <img alt="" :src="assetFilter('/cbaxmodullexicon/static/img/cms/shopping-world-badge.svg')">
        </div>
    </div>
{% endblock %}
