{% block sw_cms_custom_entity_preview_aku_cms_factory %}
    <div class="sw_cms_custom_entity_preview_aku_cms_factory">
        <ul>
            <li v-for="entity in entities">
                {{ entity[labelProperty] }}
            </li>
        </ul>
    </div>
{% endblock %}