{% block sw_cms_sidebar_block_overview_category_options %}
    {% parent %}

    {% block sw_cms_sidebar_block_intedia_doofinder_elements %}
        <option value="doofinder-elements">{{ $tc('sw-cms.detail.label.block-category-intedia-doofinder-world-experience') }}</option>
    {% endblock %}
{% endblock %}

