{% block sw_cms_manufacturer_preview_aku_cms_factory %}
    <div class="sw_cms_manufacturer_preview_aku_cms_factory">
        <ul>
            <li v-for="manufacturer in manufacturers">
                {{ manufacturer.translated.name }}
            </li>
        </ul>
    </div>
{% endblock %}