{% block sw_cms_block_cbax_lexicon_sidebar_preview %}
    <div class="sw-cms-preview-sidebar">
        <div class="sw-cms-preview-sidebar-content">
            <h2 class="sw-cms-preview-sidebar-headline">{{ $tc('elements.cbax-lexicon-sidebar.component.headline') }}</h2>
            <div>Labore</div>
            <div style="font-weight: bold">Lorem</div>
            <div>Lure</div>
        </div>
        <div class="sw-cms-preview-cbax-badge">
            <img alt="" :src="assetFilter('/cbaxmodullexicon/static/img/cms/shopping-world-badge.svg')">
        </div>
    </div>
{% endblock %}
