<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Upgrade starten um alle neuen Funktion freizuschalten</title>
        <title lang="de-DE">Upgrade starten um alle neuen Funktion freizuschalten</title>
        <component name="weedesign-images2webp-media-upgrade">
            <name>WeedesignImages2WebPUpgrade</name>
            <label>Upgrade your version</label>
            <label lang="de-DE">Version aktualisieren</label>
        </component>
        <input-field type="bool">
            <name>upgrade</name>
            <label>Upgrade</label>
            <defaultValue>1</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Images</title>
        <title lang="de-DE">Bilder</title>
        <input-field type="bool">
            <name>webp</name>
            <label>WebP</label>
            <label lang="de-DE">WebP</label>
            <helpText>Include images as WebP images.</helpText>
            <helpText lang="de-DE">Zeige alle Bilder als WebP.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>lazy</name>
            <label>Lazy Load</label>
            <label lang="de-DE">Bilder nachladen</label>
            <helpText>Images will be loaded after the page was generated via lazy loading.</helpText>
            <helpText lang="de-DE">Bilder werden via Lazy Load nachgeladen sobald die Seite sich aufgebaut hat und der Besucher zum Bild gescrollt hat.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>ratio</name>
            <label>Calculate image size</label>
            <label lang="de-DE">Bildgröße berechnen</label>
            <helpText>Calculates the best image size which is needed for the visitor viewport.</helpText>
            <helpText lang="de-DE">Berechnet die beste Bildgröße für die Bildschirm-Auflösung des Besuchers.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>fixGallery</name>
            <label>Fix gallery image size</label>
            <label lang="de-DE">Bildgröße in Galerie korrigieren</label>
            <helpText>In some cases the images in image galeries are shown with a too small image. Activate this option to fix this bug. This bug can be even reproduced when this plugin is inactive.</helpText>
            <helpText lang="de-DE">In manchen Fällen werden Bilder in Bilder-Galerien zu klein angezeigt. Wenn diese Option aktiv ist sollte der Fehler behoben sein. Dieser Fehler kann auch mit inaktivem Plugin repdroduziert werden.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Convert Images to WebP</title>
        <title lang="de-DE">Bilder in WebP umwandeln</title>
        <component name="weedesign-images2webp-media-generate">
            <name>WeedesignImages2WebPMediaGenerate</name>
            <label>Generate images</label>
            <label lang="de-DE">Bilder generieren</label>
        </component>
        <component name="weedesign-images2webp-media-progress">
            <name>WeedesignImages2WebPMediaProgress</name>
            <label>Generated images</label>
            <label lang="de-DE">Generierte Bilder</label>
        </component>
        <input-field type="bool">
            <name>jpg</name>
            <label>Convert JPG</label>
            <label lang="de-DE">JPG umwandeln</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>png</name>
            <label>Convert PNG</label>
            <label lang="de-DE">PNG umwandeln</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="int">
            <name>webpQuality</name>
            <label>Quality</label>
            <label lang="de-DE">Qualität</label>
            <helpText>Which quality should the converted images have? 0 is very bad and 100 is very good. The higher the value, the larger the file size.</helpText>
            <helpText lang="de-DE">Wie soll die Qualität der generierten Bilder sein? 0 ist sehr schlecht und 100 ist sehr gut. Desto höher der Wert desto höher die Dateigröße.</helpText>
            <defaultValue>80</defaultValue>
        </input-field>
        <input-field type="int">
            <name>webpQualityThumbnails</name>
            <label>Quality of thumbnails</label>
            <label lang="de-DE">Qualität der Thumbnails</label>
            <helpText>Which quality should the converted thumbnails have? 0 is very bad and 100 is very good. The higher the value, the larger the file size.</helpText>
            <helpText lang="de-DE">Wie soll die Qualität der generierten Thumbnails sein? 0 ist sehr schlecht und 100 ist sehr gut. Desto höher der Wert desto höher die Dateigröße.</helpText>
            <defaultValue>60</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>fallback</name>
            <label>Fallback for older Browsers</label>
            <label lang="de-DE">Fallback für alte Browser</label>
            <helpText>Fallback for older Browsers which don't support WebP-images.</helpText>
            <helpText lang="de-DE">Integriere ein Fallback für alte Browser die kein WebP-Format unterstützen.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
        <component name="weedesign-images2webp-media-delete">
            <name>WeedesignImages2WebPMediaDelete</name>
            <label>Delete all WebP files</label>
            <label lang="de-DE">Alle WebP-Bilder löschen</label>
            <helpText>Delete all images (WebP-files) which were generated by this plugin.</helpText>
            <helpText lang="de-DE">Löscht alle Bilder (WebP-Dateien) die von diesem Plugin erstellt wurden.</helpText>
        </component>
        <component name="weedesign-images2webp-media-options">
            <name>WeedesignImages2WebPMediaOptions</name>
            <label>More settings</label>
            <label lang="de-DE">Weitere Optionen</label>
        </component>
        <input-field type="bool">
            <name>old</name>
            <label>Use old converter</label>
            <label lang="de-DE">Alte Konvertierung nutzen</label>
            <helpText>Since version 3 of this plugin there is a new method to create the webp files. In some cases this could slow down the conversion of images. If so, you can disable this option but keep in mind that the new method fixed a lot of bugs in the old version.</helpText>
            <helpText lang="de-DE">Seit Version 3 des Plugins wird eine neue Methode zur Konvertierung der Bilder genutzt. In manchen Fällen kann das die Konvertierung verlangsamen. Falls diese Option deaktiviert wird, verwendet das Plugin die alte Methode zur Konvertierung der Bilder.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
        <input-field type="int">
            <name>maxImageSize</name>
            <label>Maximum image size in pixel</label>
            <label lang="de-DE">Maximale Bild-Breite in Pixel</label>
            <helpText>This is the maximum amount of pixels for the biggest thumbnail. In pixel.</helpText>
            <helpText lang="de-DE">In Pixel</helpText>
            <defaultValue>2000</defaultValue>
        </input-field>
        <input-field type="int">
            <name>webpInt</name>
            <label>Images to be generated per run</label>
            <label lang="de-DE">Zu generierende Bilder pro Durchlauf</label>
            <helpText>How many images should be processed each "Generate images"-button press?</helpText>
            <helpText lang="de-DE">Wieviele Bilder sollen je Klick auf "Bilder generieren" erstellt werden?</helpText>
            <defaultValue>100</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>exec</name>
            <label>cwebp SSH command</label>
            <label lang="de-DE">cwebp SSH-Befehl</label>
            <helpText>Only activate this feature if you have cwebp installed on your server and PHP is allowed to use the exec()-function.</helpText>
            <helpText lang="de-DE">Aktiviere diese Funktion nur, wenn cwebp auf dem Server installiert wurde und PHP Zugriff auf die exec()-Funktion hat.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
        <component name="weedesign-images2webp-media-skip">
            <name>WeedesignImages2WebPMediaSkip</name>
            <label>Skip image</label>
            <label lang="de-DE">Bild überspringen</label>
            <helpText>Click this button if this plugin is unable to generate the next WebP file. Maybe the image in line is too big and memory limit is not enough to handle this one image.</helpText>
            <helpText lang="de-DE">Manchmal sind auch sehr große Bilder in der Warteschlange des WebP-Konverters und diese Bilder können aufgrund mangelndem Memory Limit oder aufgrund extremer Größen (Dateigröße oder Auflösung) nicht konvertiert werden. In solchen Fällen bitte diesen Button klicken um das nächste Bild zu überspringen.</helpText>
        </component>
    </card>

    <card>
        <title>Scheduled Task</title>
        <title lang="de-DE">Geplante Aufgaben</title>
        <input-field type="bool">
            <name>cronjob</name>
            <label>Cronjob</label>
            <helpText>Create webp files via scheduled tasks.</helpText>
            <helpText lang="de-DE">Erstelle die WebP-Dateien mithilfe der geplanten Aufgaben.</helpText>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="int">
            <name>cronjobInt</name>
            <label>Interval in minutes</label>
            <label lang="de-DE">Interval in Minuten</label>
            <helpText>In which time interval should the images be generated?</helpText>
            <helpText lang="de-DE">In welchem Zeitabständen sollen die WebP-Dateien erstellt werden.</helpText>
            <defaultValue>60</defaultValue>
            <min>5</min>
        </input-field>
    </card>

    <card>
        <title>Support</title>
        <input-field type="text">
            <name>email</name>
            <label>Email us</label>
            <label lang="de-DE">Support-Email</label>
            <helpText>In case you have troubles with this installation feel free to contact us via email. We often see emails earlier than support-tickets within the Shopware-account.</helpText>
            <helpText lang="de-DE">Falls Unterstützung benötigt wird gerne diese Email-Adresse kontaktieren. Wir reagieren oft schneller auf Emails als auf Support-Tickets im Shopware-Account.</helpText>
            <disabled>true</disabled>
            <copyable>true</copyable>
            <defaultValue>support@weedesign.de</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>backlink</name>
            <label>Backlink</label>
            <helpText>Support us by allowing us to set a hidden backlink to weedesign.de within your shop.</helpText>
            <helpText lang="de-DE">Unterstütze uns indem wir einen unsichtbaren Backlink zu weedesign.de im Shop setzen.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
    </card>

</config>
