{% block sw_cms_block_cbax_lexicon_entry %}
    <div class="sw-cms-block-entry">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_entry_slot_entry_content %}{% endblock %}</slot>
    </div>
{% endblock %}
