{% block acris_product_download_form %}
    <div class="acris-product-download-form" :class="{ 'is--disabled': disabled }">
        {% block acris_product_download_form_upload %}
            <sw-upload-listener
                v-if="!isLoading"
                :uploadTag="acrisUploadTag"
                autoUpload
                @media-upload-finish="successfulUpload"
                @media-upload-fail="onUploadFailed">
            </sw-upload-listener>
            <acris-document-upload-gpsr
                    :entity="entity"
                    :entityName="entityName"
                    :objectExtension="extensionName"
                    v-if="!isLoading"
                    :uploadTag="acrisUploadTag"
                    variant="regular"
                    :scrollTarget="$parent.$el"
                    :defaultFolder="productDownloadsEntityName"
                    @media-upload-sidebar-open="onOpenMedia">
            </acris-document-upload-gpsr>

        {% endblock %}

        {% block acris_product_download_form_grid %}
            <div v-if="!isLoading"
                 class="acris-product-download-form__grid acris-product-download-form__column"
                 :style="gridAutoRows">
                {%  block acris_product_download_form_grid_items %}
                    <acris-gpsr-product-download
                        v-for="downloadItem in downloadItems"
                        :key="downloadItem.id"
                        :isPlaceholder="downloadItem.isPlaceholder"
                        :mediaId="downloadItem.previewMediaId ? downloadItem.previewMediaId : downloadItem.mediaId"
                        v-draggable="{ dragGroup: 'product-media', data: downloadItem, onDragEnter: onDownloadItemDragSort }"
                        v-droppable="{ dragGroup: 'product-media', data: downloadItem }"
                        @acris-product-download-delete="removeFile(downloadItem)"
                        @acris-product-download-edit="editFile(downloadItem)">
                    </acris-gpsr-product-download>
                {% endblock %}
            </div>
            <sw-loader v-else></sw-loader>
                {% block acris_product_download_form_edit_modal %}
                        <acris-gpsr-edit-download-modal v-if="displayEditDownload"
                                                        :downloadItem="editDownloadItem"
                                                        @modal-save="onEditDownloadSave"
                                                        @modal-close="onEditDownloadClose">
                        </acris-gpsr-edit-download-modal>
                {% endblock %}
        {% endblock %}
    </div>

{% endblock %}
