{% block sw_cms_block_cbax_lexicon_content_preview %}
    <div class="sw-cms-preview-cbax-lexicon-content-wrap">
        <h3>{{ $tc('blocks.cbax-lexicon.cbax-lexicon-content.general.label') }}</h3>
        <div class="sw-cms-preview-cbax-lexicon-content">
            <div class="lexicon-letter">
                <h2>A ...</h2>
                <div class="lexicon-entries">accusama      aliquyam</div>
            </div>

            <div class="lexicon-letter">
                <h2>C ...</h2>
                <div class="lexicon-entries">clita      consetetur</div>
            </div>
        </div>
        <div class="sw-cms-preview-cbax-badge">
            <img alt="" :src="assetFilter('/cbaxmodullexicon/static/img/cms/shopping-world-badge.svg')">
        </div>
    </div>

{% endblock %}
