{% block sw_cms_block_cbax_lexicon_content %}
    <div class="sw-cms-block-lexicon-content">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_content_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}
