<div class="weedesign-images2webp-admin-component">
    <p v-if="scan==2" class="weedesign-images2webp-admin-info">{{ $tc("weedesign-images2webp.media.generate.empty") }}</p>
    <p v-if="scan==3||(webp>0&&images==webp)" class="weedesign-images2webp-admin-info">{{ $tc("weedesign-images2webp.media.generate.done") }}</p>
    <sw-button-process
        v-if="scan==true||scan==3||scan==2"
        :isLoading="isLoading"
        :processSuccess="isSaveSuccessful"
        @process-finish="saveFinish"
        @click="scanImages"
    >{{ $tc("weedesign-images2webp.media.generate.scan.button") }}</sw-button-process>
    <sw-button-process
        v-if="scan==false"
        :isLoading="isLoading"
        :processSuccess="isSaveSuccessful"
        @process-finish="saveFinish"
        @click="check"
    >{{ $tc("weedesign-images2webp.media.generate.title") }}</sw-button-process>
    <sw-button-process
        v-if="scan==false"
        :isLoading="isLoading"
        :processSuccess="isSaveSuccessful"
        @process-finish="saveFinish"
        @click="all"
    >{{ $tc("weedesign-images2webp.media.generate.createAll") }}</sw-button-process>
</div>