{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_description %}
    {{ parent() }}
    <div class="product-box-unit">
        {{ 'listing.boxUnitLabel'|trans }}
        {{ product.purchaseUnit }} {{ product.unit.translated.name }}
    </div>
{% endblock %}