<div class="weedesign-images2webp-admin-component weedesign-images2webp-admin-component-delete">
    <sw-button-process
        :isLoading="isLoading"
        :processSuccess="isSaveSuccessful"
        @process-finish="saveFinish"
        @click="check"
    >{{ $tc("weedesign-images2webp.media.delete.title") }}</sw-button-process>
</div>