{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register_address_billing_fields %}
    <div class="gray-box address-form-wrap">
        {{ parent() }}
    </div>
{% endblock %}

{% block component_account_register_address_shipping_fields %}
    <div class="gray-box address-form-wrap">
        {{ parent() }}
    </div>
{% endblock %}
