{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/item-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories_list_category_item_link %}
    {% set pluginConfigurations = context.context.extensions.loyxx_configrations.configs %}
    {% if (item.category.id == pluginConfigurations.loyxx_category_id) %}
        {% if  (pluginConfigurations.loyxx_cookie_enabled) and
            (pluginConfigurations.loyxx_cookie_button_pos == 'category') %}
            <a class="navigation-offcanvas-link nav-item nav-link js-navigation-offcanvas-link loyxx-sidebar-configuration-menu"
               href="{{ path('frontend.cookie.offcanvas') }}"
               title="{{ name }}">
                {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
                    <span itemprop="name">{{ name }}</span>
                {% endblock %}
            </a>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
