{% block sw_cms_block_cbax_lexicon_entry_preview %}
    <div class="sw-cms-preview-entry">
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <div class="sw-cms-preview-cbax-badge">
            <img alt="" :src="assetFilter('/cbaxmodullexicon/static/img/cms/shopping-world-badge.svg')">
        </div>
    </div>
{% endblock %}
