{% block sw_cms_preview_intedia_doofinder_recommendations %}
    <div class="sw-cms-preview-doofinder-recommendations">
        <sw-icon name="regular-double-chevron-left-s" size="20" />
        <div class="sw-cms-preview-doofinder-recommendations__product-box">
            <sw-cms-product-box-preview />
            <sw-cms-product-box-preview />
        </div>
        <sw-icon name="regular-double-chevron-right-s" size="20" />
    </div>
{% endblock %}
