{% block sw_cms_block_cbax_lexicon_products %}
    <div class="sw-cms-block-products">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_products_slot_products_content %}{% endblock %}</slot>
    </div>
{% endblock %}
