<div class="sw-cms-el-preview-doofinder-recommendations">
    <sw-icon
            name="regular-double-chevron-left-s"
            size="10"
    />
    <sw-cms-product-box-preview :has-text="false" />
    <sw-icon
            name="regular-double-chevron-right-s"
            size="10"
    />
</div>