{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{#{% block utilities_offcanvas_content %}#}
{#    <div class="last-seen-products tab-pane-container"#}
{#         data-last-seen-products="true"#}
{#         data-product-id="{{ page.product.getId() }}"#}
{#         data-only-cms="{{ config('phpSchmiedLastSeenProducts.config.onlyCms') == 1 ? '1' : '0' }}"#}
{#    >#}
{#    </div>#}
{#{% endblock %}#}