{% sw_extends '@Storefront/storefront/component/product/description.html.twig' %}

{% block component_product_description_content_properties %}
    {{ parent() }}

    {% set tsConfig = config('trustedShopsApp.config') %}
    {% set tsChannelId = context.salesChannel.id ?? null %}
    {% set activeLanguageIsoCode = page.header.activeLanguage.translationCode.code ?? null %}
    {% set tsChannelRef = tsChannelId ~ '.' ~ activeLanguageIsoCode %}

    {% if tsChannelId is not null %}
        {% if tsConfig[tsChannelId][activeLanguageIsoCode].widgets is defined and expectedMapping[tsChannelRef] === tsConfig[tsChannelId][activeLanguageIsoCode].widgets.eTrustedChannelRef %}
            <!-- added by Trusted Shops app: Start -->
            <div class="row">
                <div class="col-12">
                    {% set product = page.product %}

                    {% if page.product.parentId %}
                        {% if page.extensions.tsParentProduct is defined and not null %}
                            {% set product = page.extensions.tsParentProduct %}
                        {% endif %}
                    {% endif %}

                    {% sw_include '@Storefront/storefront/includes/widget-assembler.html.twig' with {
                        widgets: tsConfig[tsChannelId][activeLanguageIsoCode].widgets.children.0.children,
                        product: product,
                        widgetLocationId: 'wdg-loc-pd',
                    } %}
                </div>
            </div>
        {% endif %}
        <!-- End -->
    {% endif %}
{% endblock %}