{% block sw_cms_block_cbax_lexicon_popular_entries %}
    <div class="sw-cms-block-lexicon-listing">
        <slot name="content">{% block sw_cms_block_cbax_lexicon_popular_entries_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}
