<div class="cms-element-category-navigation">
    <div class="category-navigation-box">
        {% for root in page.footer.navigation.tree %}
            {% if not loop.first %}
                <hr>
            {% endif %}
            <ul class="category-navigation level-0">
                {% for treeItem in root.children %}
                    {% set category = treeItem.category %}
                    {% set name = category.translated.name %}

                    <li class="category-navigation-entry">
                        {% if category.type == 'folder' %}
                            <div>{{ name }}</div>
                        {% else %}
                            <a class="category-navigation-link"
                               href="{{ category_url(category) }}"
                               {% if category_linknewtab(category) %}target="_blank"{% endif %}
                               title="{{ name }}">
                                {{ name }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>